@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primarycolor--: #FDF9E3;
    --secondarycolor--: #0E1921;
    --primaryfont--: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primarycolor--);
    font-family: var(--primaryfont--);
    font-weight: 400;
}

html,
body {
    font-size: 16px;
    background-color: var(--secondarycolor--)
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Mobile */
.navigation .nav {
    display: none;
}

.mobileBtn button {
    border: 0;
    color: white;
    background-color: transparent;
    font-size: 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 16px;
    background-color: var(--secondarycolor--)
}

.heading {
    color: var(--primarycolor--);
    font-style: normal;
    font-weight: 200;
}

.contact {
    font-size: x-large;
    padding-left: 20px;
}

.p2 {
    font-size: large;
    padding: 10px 20px
}

.contactBtn {
    border: solid rgb(6, 6, 6);
    background-color: var(--primarycolor--);
    align-items: center;
    margin: 20px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.head {
    padding: 20px;
    font-size: 35px;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.section {
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #2a4aa0;
}

.section img {
    width: 300px;
    height: auto;
    margin-right: 30px;
    border-radius: 4px;
}

.text {
    max-width: 600px;
}

.text h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #2a4aa0;
}

.text p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
}

.meeting {
    margin: 20px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head2 {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.items {
    background-color: #2A4B66;
    color: white;
    text-align: center;
    padding: 30px 20px;
    border-bottom: 10px solid #030101b8;
    font-size: 30px;
}

.items p {
    font-size: 18px;
}

.font {
    margin: 20px;
    font-size: 25px;
}

.font p {
    padding-top: 20px;
    font-size: 18px;
}

.p1 {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.img2 {
    padding: 20px;

}

.header2 {
    font-size: 35px;
    padding: 10px 20px;
}

.box {
    padding: 20px;
    font-weight: lighter;
    font-size: 23px;
    border: 1px solid var(--primarycolor--);
}

.box h3 {
    text-align: center;
    padding-bottom: 20px;
}

.box2 {
    padding: 20px;
    font-size: 18px;
}

.divider {
    border-bottom: 1px dashed var(--primarycolor--);
}

.header3 {
    font-size: 25px;
    padding: 15px;
}

.p3 {
    border-bottom: 2px dashed var(--primarycolor--);
    padding: 15px;
    font-size: 18px;
    text-align: start;
}

.logo {
    width: 120px;
    height: 60px;
    border-radius: 60px 60px 0 0;
    margin-bottom: 10px;
    padding: 40px 40px;
}

.header4 {
    padding-left: 20px;
    font-size: 28px;
    font-weight: 100;
}

.p4 {
    padding: 20px;
    font-size: 18px;
}

.clients-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.clients-title {
    border-top: 1px dashed var(--primarycolor--);
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid var(--primarycolor--);
}

.client-box {
    border-bottom: 1px solid var(--primarycolor--);
    width: 100%;
}

.client-box:last-child {
    border-bottom: none;
}

.client-logo {
    max-width: 80px;
}

.header6 {
    border-top: 1px dashed var(--primarycolor--);
    padding: 20px;
    font-size: 25px;
}

.blockq {
    color: rgb(6, 16, 60);
    text-align: left;
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    padding: 10px;
    margin: 10px auto;
}

.blockq1 {
    padding-top: 10px;
    border-top: 1px dashed var(--primarycolor--);
    display: flex;
    padding: 35px;
    padding-left: 5px;
    font-style: normal;
    font-weight: 100;
}

.container1 {
    position: absolute;
    right: 0;
    max-width: 300px;
    padding: 16px;
    margin: 10px 10px;
    background-color: rgb(14, 25, 33);
}

.head3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;

}

.bg-img {
    background-image: url(../Images/illustration/imgi_4_.jpg);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 2px solid var(--primarycolor--);
    background-color: rgb(14, 25, 33);
    color: rgb(14, 25, 33);
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 55px;
}

.btn {
    background-color: var(--primarycolor--);
    border: 2px solid #333;
    color: #000;
    padding: 15px 32px;
    width: 270px;
    font-size: 16px;
    border-radius: 4px;
}

.contact-section {
    background-color: #2B4C67;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 20px;
    background-color: #2e3b4e;
}

.footer-left {
    min-width: 150px;
    flex-direction: column;
    padding: 20px;
}

.footer-right {
    border-top: 2px dashed var(--primarycolor--);

    line-height: 40px;
    min-width: 250px;
    padding: 20px;
}

.footer-right p {
    margin: 6px 0;
}

.footer a {
    color: var(--primarycolor--);
    text-decoration: none;
}

.footer-bottom {
    justify-content: space-evenly;
}

.footer hr {
    border: none;
    border-top: 2px dashed var(--primarycolor--);
    margin: 10px 0;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.items h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.items p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--primarycolor--);
}


/* tablet */

@media (min-width:768px) {

    .clients-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 20px;
    }

    .client-box {
        border: 1px solid #FDF9E3;
    }

    .client-box:last-child {
        border: 1px solid #FDF9E3;
    }

    .header2 {
        text-align: center;
        margin: 10px auto;
    }

    .parentbox1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .parentbox1 .box {
        width: 49%;
        padding-left: 20px;
    }

    .header3 {
        padding-top: 50px;
    }

    .header6 {
        text-align: center;
    }

    .blockq {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #FDF9E3;
    }

    .blockq1 {
        text-align: center;
        justify-content: center;
    }

    .blockq hr {
        display: none;
    }

    .blockq1 {
        display: flex;
    }

    .section {
        display: block;
    }

}

/* desktop view  */

@media (min-width:992px) {
    .navigation .nav {
        display: block;
    }

    .nav>ul {
        display: flex;
        gap: 20px;
    }

    .mobileBtn button {
        display: none;
    }

    .handing {
        text-align: center;
        padding-top: 20px;
    }

    .contact {
        font-size: 45px;
    }

    .contact h1 {
        font-weight: 100;
    }

    .contactBtn {
        justify-content: center;
        display: block;
        margin: 0 auto;
        align-items: center;
    }

    .contactBtn:hover {
        background-color: #000;
        color: var(--primarycolor--);
        border: 2px solid var(--primarycolor--);
    }

    .header2 {
        text-align: start;
        padding-left: 40px;
    }

    .header3 {
        padding-left: 55px;
    }

    .row {
        width: 100%;
    }

    .section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        border: none;
    }



    .p3 p {
        width: 33%;
        padding-left: 40px;
        padding-bottom: 60px;
    }

    .items {
        width: 32%;
        height: 330px;
    }

    .head2 {
        font-size: 45px;
        font-weight: 100;
    }

    .items>h2 {
        font: 2em sans-serif;
    }

    .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pic-section {
        display: block;
        text-align: start;
        padding-bottom: 20px;
    }

    .dedication {
        min-width: 80%;
        height: 80%;
    }

    .img1 {
        height: 650px;
        width: 50%;
        padding-right: 80px;
        display: flex;
        float: right;
        position: relative;
        top: -230px;
    }

    .img2 {
        width: 450px;
        height: 300px;
    }

    .font h3 {
        font-size: 35px;
        font-weight: 100;
        padding-top: 20px;
        padding-left: 15px;
    }

    .font p {
        width: 25%;
        padding: 20px;
        font-size: 18px;
    }

    .dedication {
        height: 900px;
    }

    .parentbox1 .box .box2 {
        margin-top: 60px;
        text-align: center;
    }

    .clients-title {
        text-align: start;
        padding: 50px;
        border-bottom: none;
    }

    .clients-wrapper .client-logo {
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .logoo img {
        width: 100px;
        display: flex;
        margin-left: 690px;
        margin-top: 50px;
    }

    .logoo p {
        width: 90%;
        padding-left: 880px;
        padding-bottom: 70px;
    }

    .logoo h3 {
        padding-left: 860px;
    }

    .header6 {
        padding-top: 60px;
    }

    .sectionclient {
        display: flex;
        margin: 50px;
    }

    .blockq p {
        padding: 70px;
    }

    .footer-right {
        border-top: none;
        border-left: 2px dashed var(--primarycolor--);
    }

    .Row {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    .container1 {
        max-width: 500px;
        height: 450px;
    }

    .container1:hover {
        background-color: #000;
        color: var(--primarycolor--);
    }

    .head3 {
        text-align: start;
    }

    .btn {
        min-width: 100%;
    }

    .btn:hover {
        background-color: #000;
        color: var(--primarycolor--);
        border: 2px solid var(--primarycolor--);
    }

    textarea {
        height: 100px;
    }
}